<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcoustID" version="0.0.2" targetFramework="net451" />
  <package id="NAudio" version="1.7.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="taglib" version="2.1.0.0" targetFramework="net451" />
</packages>